@import "./base/base";
@import "./base/mixins";
@import "./base/typography";
@import "./base/variables";
@import "./components/carousel";
@import "./components/navigation";
// @import "./layout/"
@import "./layout/section2-reservation";
@import "./layout/section3-advertisment";
@import "./layout/section4-menu";
@import "./layout/section5-products";
@import "./layout/section6-features";
@import "./layout/section7-gallery";
@import "./layout/section8-blog";
@import "./layout/section9-contacts";
@import "./layout/section10-clicks";
@import "./layout/section11-map";
@import "./layout/section12-footer";

// @import "./pages/"
// @import "./themes/"
// @import "./utilis/"
// @import "./vendors/"


// keyframes 
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(90deg);
        width: 5rem;
        height: 5rem;
        padding: .5rem;
        opacity: .75;
    }
    50% {
        transform: rotate(180deg);
        width: 6rem;
        height: 6rem;
        padding: 1rem;
        opacity: .5;
    }
    75% {
        transform: rotate(270deg);
        width: 5rem;
        height: 5rem;
        padding: 1.5rem;
        opacity: .25; 
    }
    100% {
        transform: rotate(360deg);
        width: 4rem;
        height: 4rem;
        opacity: 1;
    }
}





.funnyFont {
    font-family: $funny-font
    
}
.funnyTitle {
    font-family: $funny-font;
    font-weight: 700;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: .5rem;
    -webkit-text-fill-color: $orange-strong-color;
    letter-spacing: .5rem;
}


body {
    @include typography-link($main-font, $main-color, $medium-size-font);
    @include typography-list;
    color: $main-color;
    background-color: $white-color;
    font-family: $main-font;
    font-size: $medium-size-font;
    align-items: center;
    overflow-x: hidden;
}    
.wrapper {
    max-width: 146rem;
    min-width: 32rem;
    margin: 0 auto;
    overflow-x: hidden;
}
// navigation section.


//home page section
.home {
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/cake2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    &__element {
        width: 100%;
        height: 100%;
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
    &__title {
        font-size: 5em;
        line-height: 4em;
        letter-spacing: 0.1rem;
    }
    &__subtitle {
        font-size: 1.2em;
        font-weight: 600;
        letter-spacing: 0.1rem;
        color: $white-color;
    }
}
//reservation page section











                                       










@media screen and (max-width: 1080px) {
    .blog {
        &__elements {
            .element__article {
                .element__info {
                    .element__button {
                        margin-top: 1rem;
                    }
                }
            }
            .element__article:hover {
                .element__info {
                    .element__logo {
                        margin-top: -2rem;
                    }
                    .element__button {
                        margin-top: -3rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .home {
        &__title {
            font-size: 3.5em;
            line-height: 5em;
            letter-spacing: 0.2rem;
        }
    }
    .ad {
        &__article {
            .article__title {
                width: 80%;
                font-size: 3.2rem;
                line-height: 3.5rem;
            }
            .article__image {
                margin: 1rem 0;
            }
        }
    }
    .products {
        .cake {
            padding: 0 10% 0 50%;
            &__title {
                font-size: 6rem;
                line-height: 7rem;
                margin-bottom: 2rem;
            }
            &__subtext {
                font-size: 1.6rem;
            }
            &__price {
                font-size: 3rem;
            }
            &__button {
                width: 10rem;
                height: 4rem;
                font-size: 1.6rem;
                border: 0.2rem solid #fff;
            }
        }    
    }
    // .gallery {
    //     &__item--2 {
    //         grid-column: 2 / 4;
    //         grid-row: 1 / 2;
    //         .gallery__description {
    //             grid-column: 1 / 3;
    //         }
    //     }
    //     &__item--3 {
    //         grid-column: 4 / 5;
    //         grid-row: 1 / 2;
    //         background-image: url(../../assets/cover_5.png);
    //         background-repeat: no-repeat;
    //         background-position: center;
    //     }
    // }
    .blog {
        &__elements {
            .element__article:hover {
                .element__info {
                    clip-path: circle(90% at 50% -15%);
                }
            }
        }    
    }
}
@media screen and (max-width: 860px) {
    .navigation {
        position: relative;
        z-index: 3;
        ul.navigation__list {
            position: absolute;
            z-index: 4;
            top: 10rem;
            left: 0;
            flex-direction: column;
            align-items: center;
            justify-content:space-between;
            margin: 0; 
            padding: 4rem 0;
            width: 100%;
            height: 100vh;
            clip-path: circle(4rem at 100% 0);
            background-color: inherit;
            opacity: 0;
            transition: all .5s ease-in;
        }
        ul.navigation__list--open {
            clip-path: circle(200% at 100% 0);
            opacity: 1;
        }
        &__burger {
            display: flex;
        }
    }
}

@media screen and (max-width: 760px) {
    .funnyTitle {
        font-family: $funny-font;
        font-weight: 900;
        -webkit-text-stroke-color: #fff;
        -webkit-text-stroke-width: .3rem;
        
    }
    .navigation__logo {
        margin-left: 1.5rem;
    }
    .home {
        height: 85vh;
        background-position: center bottom;
        &__title {
            font-size: 5rem;
        }
    }
    .ad {
        flex-direction: column-reverse;
        align-items: center;
        &__image {
            max-width: 100%;
        }
        &__article {
            width: 100%;
            padding: 5rem 0;
            .article__title {
                width: 70%;
            }
            .article__image {
                margin: 4rem 0;
            }
        }
    }
    .blog {
        margin-bottom: 1rem;
        &__elements {
            height: auto;
            .element__article {
                margin: 1rem .5rem;
            }
        }
        .element__article:hover {
            margin-top: 0;
            .element__info {
                clip-path: circle(65% at 50% 40%);
                transform: scale(1);
                height: 18rem;
            }
            .element__button {
                padding: .5rem;
                margin-top: 5rem;
            }
        } 
    }
    .contacts {
        form .form__title {
            grid-column: 2 / 16;
            grid-row: 3 / 4;
        }
        form .form__group--1 {
            grid-column: 3 / 15;
            grid-row: 4 / 5;
        }
        form .form__group--2 {
            grid-column: 3 / 15;
            grid-row: 5 / 6;
        }
        form .form__group--3 {
            grid-column: 3 / 15;
            grid-row: 6 / 7;
        }
    }
}