@import "./base/base";
@import "./base/mixins";
@import "./base/typography";
@import "./base/variables";
@import "./components/carousel";
@import "./components/click";
@import "./components/gallery";
@import "./components/button";
@import "./components/card";
@import "./components/form";
@import "./components/popup";
// @import "./layout/"
@import "./layout/navigation";
@import "./layout/header";
@import "./layout/footer";


// @import "./pages/"
@import "./pages/home";
// @import "./themes/"
// @import "./utilis/"
@import "./utilis/animation";
@import "./utilis/helpers";
// @import "./vendors/"

