.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;                      
    padding: 5rem 0;
    & > *:not(:last-child) {
        margin-bottom: 2rem;
    }
    &__title {
        color: $orange-strong-color;
        font-size: $large-size-font;
        margin-top: 2rem;
     }
 
    &__copyrights {
        font-size: $small-size-font;
        color: $main-color-soft;
        font-weight: 600;
        letter-spacing: 0.1rem;
    }
 
    &__social-link {
        display: inline-block;
        transition: all .3s;
        &:hover {
        transform: translateY(-.5rem) scale(1.2);
        }
    }
    &__social-link:not(:last-child) {
        margin-right: 1.2rem;
    }
    
   
}