.home {
    width: 100%;
    height: 90vh;
    background-image: url(../../assets/cake2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    &__element {
        width: 100%;
        height: 100%;
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
    
}