.home {
    width: 100%;
    background-image: url(../../assets/cake1_medium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    padding: 20rem 0;
    &__element {
        width: 100%;
        height: 100%;
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
    
}