.ad {
    min-height: auto;
    display: flex;
    background-color: #fff2ed;
    &__image {
        max-width: 50%;
        height: auto;
    }
    &__article {
        width: 50%;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        .article__title {
            width: 60%;
            color: $orange-soft-color;
            font-size: 4.2rem;
            line-height: 5rem;
        }
        .article__image {
            max-width: 100%;
            height: auto;
            margin: 4rem 0;
}
        .article__subtext {
            color: $main-color-soft;
            width: 70%;
            line-height: 2rem;
        }
    }

}