.products {
    
    .cake {
        font-size: $large-size-font;
        color: $white-color;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10% 10% 10% 55%;
    }

    @for $i from 1 through 4 {
        .cake--#{$i} {
            background-image: url(../../assets/cake#{$i}.png);
        }
    }
}