.ad {
    display: flex;
    background-color: $secondary-color;
    &__image {
        max-width: 50%;
        height: auto;
    }
    &__article {
        width: 50%;
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        .article__image {
            max-width: 100%;
            height: auto;
            margin: 4rem 0;
        }
        
    }

}