.map {
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../assets/cover_14.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    box-shadow: inset 0 0 0 200rem rgba(128, 127, 127, 0.616);
    font-weight: 700;
    color: $white-color;
    &__text,
    &__text:link,
    &__text:visited,
    &__text:hover,
    &__text:active {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        font-weight: 700;
        color: $white-color;
        cursor: pointer;
    }
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: .8rem;
        margin: 0 .5rem;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        font-size: 1.8rem;
        background-color: $orange-strong-color;
    }  
}