.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 0 2rem;
    padding: 5rem 0;
    &__elements {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5rem;
    }
};