.features {
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white-color;
    .features__image {
        margin-bottom: 2.5rem;
    }

    .features__text {
        text-align: center;
        font-size: 1.8rem;
    }

    .features__box {
        width: 42.6rem;
        display: inherit;
        flex-direction: column;
        align-items: center;
        margin: 0 2.5rem;
        padding: 3rem;
    }
    
    .features__box:nth-of-type(2) {
        position: relative;
        margin: 0 -5rem;
    }

    .features__box:nth-of-type(2)::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 60%;
        border-left: 0.2rem solid $black-color;
        border-right: 0.2rem solid $black-color;
    } 
}