.map {
    min-height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../assets/cover_14.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    box-shadow: inset 0 0 0 200rem rgba($black-color, 0.45);
    
    
}