.contacts {
    padding: 15rem 10rem;
    background-image: url(../../assets/cover_13.png);
    background-size: cover;
    background-position: center;
    box-shadow: inset 200rem 200rem rgba($black-color, .4);
}
