.contacts {
    background-image: url(../../assets/cover_13.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4rem;
    &__form {
        width: 100%;
        height: 100%;
        display: flex;
        
    }
}
.form__group {
    position: relative;
    
    input, textarea {
        width: 100%;
        border: 0.1rem solid #fff;
        background: transparent;
    }
}
.form__title {
    display: inline-block;
     
}
// .form__group--1 {}
// .form__group--2 {}
// .form__group--3 {}
// .form__group--4 {}

