// button link
.button-primary {
    &:link,
    &:visited {
        background-color: $button-background-color;
        color: $button-text-color;
        line-height: 6rem;
        width: 24rem;
        box-shadow: 0 .5rem 1rem rgba($black-color,.4);
        transition: all .3s;
    }
    &:hover {
        transform: translateY(-0.3rem);
    }
    &:active {
        transform: translateY(0);
        box-shadow: 0 .1rem 1rem rgba($black-color,.4);  
    }
    
}

.button-secondary {
    &:link,
    &:visited {
        background-color: transparent;
        
        width: 15rem;
        height: 6rem;
        line-height: 6rem;
        text-align: center;
        color: $white-color;
        font-size: 2rem;
        font-weight: 400;
        border: 0.3rem solid $white-color;
        background-color: transparent;
        text-transform: uppercase;
    }
    
    &:hover {
        transform: translateY(-0.3rem);
    }
    &:active {
        transform: translateY(0);
        box-shadow: 0 .1rem 1rem rgba($black-color,.4);  
    }
}

// action buttons
.button-primary-action {
        color: $button-text-color;
        line-height: 4rem;
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
        background-color: $button-background-color;
        box-shadow: 0 .5rem 1rem rgba($black-color,.4);
        transition: all .3s;
    &:hover {
        transform: translateY(-0.3rem);
    }
    &:active {
        transform: translateY(0);
        box-shadow: 0 .1rem 1rem rgba($black-color,.4);  
    }
}