.owl-nav {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 6rem;
    opacity: 0.5;
    color: #fff;
    * {
        width: 10%;
    }
    
}