.element__article {
    width: 25rem;
    height: 35rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 1rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 .3rem 4rem rgba($black-color, .4);
    
    @include respond(phone) {
        width: 90%;
    }
    .element__info {
        height: 18rem;    
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        overflow: hidden;
        background-color: $white-color;
        clip-path: circle(60% at 50% -10%);
        transition: all 500ms;
        .element__logo {
            color: $orange-strong-color;
            font-size: 1.8rem;
            letter-spacing: .2rem;
        }
        @include respond(tab-land) {
            clip-path: none
        }    
    }
    &:hover {
        margin-top: 1.5rem;
        .element__info {
            height: 15rem;
            width: 100rem;
            clip-path: circle(90% at 50% -25%);
            transform: scale(1.1);
        }
    }
    &:nth-of-type(1) {
        background-image: url(../assets/cover_9.png);
    }
    &:nth-of-type(2) {
        background-image: url(../assets/cover_10.png);
    }
    &:nth-of-type(3) {
        background-image: url(../assets/cover_11.png);
    }
    &:nth-of-type(4) {
        background-image: url(../assets/cover_12.png);
    }
}

.element__button {
    display: inline-block;
    &:link,
    &:visited {
        background-color: $button-background-color;
        color: $button-text-color;
        line-height: 3rem;
        font-size: 1.6rem;
        width: 5rem;
        box-shadow: 0 .5rem 1rem rgba($black-color,.4);
        transition: all .3s;
    }
    &:hover {
        transform: translateY(-0.3rem);
    }
    &:active {
        transform: translateY(0);
        box-shadow: 0 .1rem 1rem rgba($black-color,.4);  
    }
}