.click {
    background-color: $white-color;
    height: 25rem;
    width: 20rem;
    &__image {
        height: 50%;
        // background settings
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        // icon position;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__information {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }
    &:hover .click__image {
        background-size: 120%;
    }
    &:nth-of-type(1) {
        .click__image{
            background-image: url(../../assets/cover_15.png);
        }
    }
    &:nth-of-type(2) {
        margin: 0 3rem;
        .click__image{
            background-image: url(../../assets/cover_16.png);
        }
    }
    &:nth-of-type(3) {
        .click__image{
            background-image: url(../../assets/cover_17.png);
        }
    }
}