// grid

@supports (display: grid) {
    .contact-form {
        display: grid;
        grid-gap: 2rem;
        justify-items: stretch;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 6rem auto 4rem;
        &__cta {
            &--1 {
                grid-column: 1/2;
                grid-row: 1/2;
            }
            &--2 {
                grid-column: 2/3;
                grid-row: 1/2;
            }
            &--3 {
                grid-column: 3/4;
                grid-row: 1/2;
            }
            &--4 {
                grid-column: 1/4;
                grid-row: 2/3;
            }
        }
        &__button {
            grid-column: 1/4;
            grid-row: 3/4;
        }

        @include respond(tab-port) {
            grid-gap: 3rem;
            grid-template-rows: repeat(5, auto);
            &__cta {
                &--1 {
                    grid-column: 1/4;
                    grid-row: 1/2;
                }
                &--2 {
                    grid-column: 1/4;
                    grid-row: 2/3;
                }
                &--3 {
                    grid-column: 1/4;
                    grid-row: 3/4;
                }
                &--4 {
                    grid-column: 1/4;
                    grid-row: 4/5;
                }
            }
            &__button {
                grid-column: 1/4;
                grid-row: 5/6;
            }
        }
    }
}


@supports  not (display: grid) {
    .contact-form {
        display: block;
        &__cta {
            display: block;
            margin: 5rem 0;
        }
        &__button {
            width: 100%;
        }
    }
}
.contact-form {
    
    &__cta {
        color: $main-color-soft;
        position: relative;
    }
    &__input[type="text"],
    &__input[type="email"],
    &__textarea {
        background-color: transparent;
        border: .1rem solid $white-color;
        outline: none;
        width: 100%;
        padding: 1.2rem;
        font-size: 1.6rem;
        color: inherit;
        border-radius: .2rem;
        transition: all .5s;
    }
    &__textarea {
        height: 40rem;
        @include respond(tab-port) {
            height: 30rem;
        }
    }
    &__input:required {
        border: .1rem solid $white-color;
        outline: none;
        box-shadow: none;
    }
    &__input:valid {
        overflow: hidden;
        border-bottom: .3rem solid $color-valid;
    }
    &__input:invalid {
        border:.1rem solid $white-color;
    }
    &__input:focus:invalid {
        border-bottom: .3rem solid $color-invalid;
    }
    &__label {
        position: absolute;
        left: 1.5rem;
        top: 5.5rem;
        transition: all .4s;
    }
    &__input:placeholder-shown + &__label {
        opacity: 0;
        transform: translateY(-4rem);
    }

}

::placeholder {
    color: $white-color;
}