.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(30rem, 1fr));
    background-color: #fff2ed;
    &__item {
        display: inherit;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center; 
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        .gallery__description {
            grid-column: 1 / 2;
            background-color: rgba(240, 27, 22, 0.6);
            display: none;
            justify-content: center;
            align-items: center;
            margin: 5rem;
            
            .gallery__title {
                color: $white-color;
                font-size: 4.5rem;
                text-align: center;
                position: relative;
                @include respond(tab-port) {
                    font-size: 3.5rem;
                }
            }

            .gallery__title:before {
                content: '';
                position: absolute;
                z-index: 2;
                bottom: -3rem;
                left: calc(50% - 1rem);
                width: 2rem;
                height: 1rem;
                background-color: #fff481;
            }
        }
    }

    &__item:hover .gallery__description {
        display: flex;
    }

    &__item--1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        background-image: url(../../assets/cover_4.png);
        
    }
    &__item--2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        .gallery__description {
            grid-column: 1 / 2;
            background-color: #fff2ed;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5rem;
            color: #fff;

            .gallery__title {
                color: #ff7e66;
                letter-spacing: 0.5rem;
                font-weight: 700;
            }
        }
    }

    &__item--3 {
        grid-column: 3 / 5;
        grid-row: 1 / 2;
        background-image: url(../../assets/cover_5.png);
    }
    &__item--4 {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        background-image: url(../../assets/cover_6.png);
    }
    &__item--5 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        background-image: url(../../assets/cover_7.png);
    }
    &__item--6 {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
        background-image: url(../../assets/cover_8.png);
    }

    @include respond(phone) {
        grid-template-rows: repeat(3, minmax(30rem, 1fr));
        &__item--1 {
            display: none;
            }
        &__item--2 {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }
    
        &__item--3 {
            grid-column: 3 / 5;
            grid-row: 1 / 2;
        }
        &__item--4 {
            grid-column: 1 / 5;
            grid-row: 3 / 4;
        }
        &__item--5 {
            grid-column: 1 / 4;
            grid-row: 2 / 3;
        }
        &__item--6 {
            grid-column: 4 / 5;
            grid-row: 2 / 3;
        }
    }
}