@include navigation-horizontal(right,#fff, $main-color);
.navigation {
    align-items: center;
    height: 10rem;
    &__logo {
        width: 7rem;
        margin: 0 auto 0 5rem;
    }
    &__burger {
        width: 4rem;
        height: 4rem;
        margin-right: 2rem;
        border: .2rem solid $orange-strong-color;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        display: none;
        .burger__line {
            width: 90%;
            height: .4rem;
            background-color: $orange-strong-color;
        }
    }
    &__burger--open {
            animation: spin .5s;
            border: none;
        .burger__line-1 {
            transform: translateY(1rem) rotate(45deg);
        }
        .burger__line-2 {
           opacity: 0;
        }
        .burger__line-3 {
            transform: translateY(-1.2rem) rotate(-45deg);
        }
    }
    &__burger--close {
        animation: spin .5s;
    }
    &__list {
        margin-right: 5rem;
    }
}

.navigation__link:hover {
    border-bottom: 1.5rem solid yellow;
}