.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10rem;
    background-color: $white-color;
    &__list {
        display: flex;
        flex-direction: row;
        margin-right: 5rem;
    }
    &__item {
        margin: 0 10px;
        list-style: none;
    }
    &__link {
        &:link,
        &:visited {
            text-decoration: none;  
            color: $main-color;
            font-size: $primary-font;
        }
        &:hover {
            border-bottom: .8rem solid yellow;
        }
        &:active {
            text-decoration: none;  
            color: $main-color;
            font-size: $primary-font;
        }
    }
    &__logo {
        width: 7rem;
        margin: 0 auto 0 5rem;
    }
    &__burger {
        width: 4rem;
        height: 4rem;
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        display: none;
        .burger__line {
            width: 90%;
            height: .4rem;
            background-color: $orange-strong-color;
        }
    }
    &__burger--open {
            animation: spin .5s;
        .burger__line-1 {
            transform: translateY(1rem) rotate(45deg);
        }
        .burger__line-2 {
           opacity: 0;
        }
        .burger__line-3 {
            transform: translateY(-1.2rem) rotate(-45deg);
        }
    }
    &__burger--close {
        animation: spin .5s;
    }
}


@media screen and (max-width: 860px) {
    .navigation {
        position: relative;
        z-index: 3;
        ul.navigation__list {
            position: absolute;
            z-index: 4;
            top: 10rem;
            left: 0;
            flex-direction: column;
            align-items: center;
            justify-content:space-between;
            margin: 0; 
            padding: 4rem 0;
            width: 100%;
            height: 100vh;
            clip-path: circle(4rem at 100% 0);
            background-color: inherit;
            opacity: 0;
            transition: all .5s ease-in;
        }
        ul.navigation__list--open {
            clip-path: circle(200% at 100% 0);
            opacity: 1;
        }
        &__burger {
            display: flex;
        }
    }
}