.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    background-color: $white-color;
    &__list {
        display: flex;
        flex-direction: row;
        margin-right: 5rem;
    }
    &__item {
        margin: 0 10px;
        list-style: none;
    }
    &__link {
        &:link,
        &:visited {
            text-decoration: none;  
            color: $main-color;
            font-size: $primary-font;
        }
        &:hover {
            border-bottom: .8rem solid yellow;
        }
        &:active {
            text-decoration: none;  
            color: $main-color;
            font-size: $primary-font;
        }
    }
    
}
// creating burger menu
.navigation__burger {
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: none;
    .burger__line {
        width: 90%;
        height: .4rem;
        background-color: $orange-strong-color;
    }
    &--open {
        animation: spin .5s;
        .burger__line-1 {
            transform: translateY(1rem) rotate(45deg);
        }
        .burger__line-2 {
            opacity: 0;
        }
        .burger__line-3 {
            transform: translateY(-1.2rem) rotate(-45deg);
        }
    }
    &--close {
        animation: spin .5s;
    }
}
// creating logo.
.logo {
    padding: 2rem 0 1rem 2rem;
    
    &__text {
        color: $orange-strong-color;
        font-size: 4rem;
        padding: .2rem 0;
    }
    &__subtext {
        background-color: $blue-color;
        text-transform: uppercase;
        color: $white-color;
        font-size: 1rem;
        font-weight: 700;
        vertical-align: bottom;
        padding: 0.4rem 1rem 0.1rem 1rem;
    }

}

@media screen and (max-width: 860px) {
    .navigation {
        position: relative;
        z-index: 3;
        ul.navigation__list {
            position: absolute;
            z-index: 4;
            top: 10rem;
            left: 0;
            flex-direction: column;
            align-items: center;
            justify-content:space-between;
            margin: 0; 
            padding: 4rem 0;
            width: 100%;
            height: 100vh;
            clip-path: circle(4rem at 100% 0);
            background-color: inherit;
            opacity: 0;
            transition: all .5s ease-in;
        }
        ul.navigation__list--open {
            clip-path: circle(200% at 100% 0);
            opacity: 1;
        }
        &__burger {
            display: flex;
            
        }
    }
}