.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100vh;
    background-color: rgba($black-color, .3);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    
    &__content {
        width: 80%;
        background-color: $secondary-color;
        @include absCenter;
        z-index: 250;
        border-radius: .2rem;
        box-shadow: 0 1.5rem 3rem rgba($black-color, .3);
        padding: 3.5rem 0;
        @include respond(photo) {
            
        }
    }
    &__close {
        &:link,
        &:visited {
            position: absolute;
            top: 2rem;
            right: 2rem;
            font-size: 2.6rem;
            color: $main-color-soft;
            transition: color .4s;
        }
        &:hover {
            color: $orange-soft-color;
        }
    }
}


.popup-reservation {
    text-align: center;
    line-height: 5rem;
    
    &__number {
        &:link,
        &:visited {
            
            color: $orange-soft-color;
            font-size: 2.4rem;
        }
    }
}


.popup-menu {
    color: $main-color-soft;
    &__list {
        text-align: left;
        column-count: 3;
        list-style: none;
        
        @include respond(tab-port) {
            width: 80%;
            column-count: 2;
            margin-left: 50%;
            transform: translateX(-50%);
        }
        @include respond(phone) {
            column-count: 1;
            margin-left: 60%;
            transform: translateX(-60%);
        }
    }
    &__item {
        @include respond(tab-port) {
            &:not(:first-child) {
                margin-top: 5%;
            }
            
        }
        @include respond(phone) {
            column-count: 1
        }
    }
}

.popup-blog {
    height: 100%;
    display: flex;
    align-content: stretch;
    &__image {
        max-height: 100%;
    }
    @include respond(phone) {
        flex-direction: column-reverse;
        &__image {
            max-height: 20%;
        }
    }
    
    &__content {
        width: 80%;
        padding: 8rem 2rem;
        color: $main-color-soft;
        @include respond(phone) {
            width: 100%;
            height: 80%;
        }
    }
}
.popup-map {
    height: 30rem;
    iframe {
        width: 100%;
        height: 100%;
    }
}





// functionality
#popup-reservation:target,
#popup-menu:target,
#popup-blog:target,
#popup-map:target {
    opacity: 1;
    visibility: visible;
}