@import "./variables";
@font-face{
    font-family: 'Nanami-book';
    src: url(../fonts/nanami/Nanami-Book.otf) format('opentype');
};

@font-face{
    font-family: 'master_of_break';
    src: url(../fonts/master_of_break/Master_Of_Break/master_of_break.ttf) format('truetype');
};

body {
    color: $main-color;
    font-family: $primary-font;
    font-size: $medium-size-font;
}
a:link,
a:visited,
a:hover,
a:active {
    font-family: $primary-font;
    color: $main-color;
    font-size: $medium-size-font;
    text-decoration: none;
    text-align: center;
}

.special-font {
    font-family: $secondary-font;
    display: inline-block;
}
// headings
.heading-primary {
    display: inline-block;
    padding-bottom: 10rem;
    font-size: 7rem;
    line-height: 4rem;
    letter-spacing: 0.1rem;
    font-family: $secondary-font;
    font-weight: 700;
    -webkit-text-stroke-color: $white-color;
    -webkit-text-stroke-width: .5rem;
    -webkit-text-fill-color: $orange-strong-color;
    letter-spacing: .5rem;
    text-align: center;
    @include respond(tab-land) {
        font-size: 8rem;
        -webkit-text-stroke-width: .4rem;
    }

    @include respond(tab-port) {
        font-size: 7rem;
        line-height: 3em;
        letter-spacing: .2rem;
        -webkit-text-stroke-width: .3rem;
        padding: 3rem;
    }

    @include respond(phone) {
        font-size: 5.5rem;
        -webkit-text-stroke-width: .2rem;
        line-height: 1.5em;
    }

}
.heading-secondary {
    color: $orange-strong-color;
    font-size: 4.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
    &--white {
        color: $white-color;
    }

    @include respond(tab-port){
        font-size: 3.8rem;
    }
    @include respond(phone) {
        font-size: 3.4rem;
        line-height: 5rem;
    }
}
// paragraphs
.paragraph-primary {
    width: 60%;
    color: $main-color-soft;
    margin-top: 6rem;

    &--white {
        color: $white-color;
    }
    @include respond(tab-port) {
        margin-top: 0;
    }
}

.home__subtitle {
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: $white-color;
}


.article__title {
    width: 70%;
    color: $orange-soft-color;
    font-size: 4.2rem;
    line-height: 5rem;

    @include respond(phone) {
        width: 95%;
        font-size: 3.2rem;
        line-height: 4rem;
    }
}
.article__subtext {
    color: $main-color-soft;
    width: 70%;
    line-height: 2rem;

    @include respond(phone) {
        width: 95%;
    }
}
// product section
.cake {
    &__title {
        width: 100%;
    }
    &__subtext {
        width: 70%;
    }
    &__price {
        color: $white-color;    
        font-size: 4rem;
        @include respond(phone) {
            width: 70%;
            margin-bottom: 2rem;
            text-align: left;
        }
    }
}

// feaures section

// clicks section

// contact form


// map section
.map {
    &__heading,
    &__heading:link,
    &__heading:visited {
        color: $white-color;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: .3rem;
        font-weight: 400;
        cursor: pointer;
    }
    &__heading:hover {
        color: $white-color;
        font-size: 2rem;
        text-shadow: .8rem .8rem 2rem rgba($black-color, .8);
    }
    &__heading:active {
        text-shadow: .8rem .4rem 2rem rgba($black-color, .8);
        transform: translateY(.2rem);
    }
    &__subheading {
        display: inline-block;
        background-color: $orange-strong-color;
        clip-path: circle(34%);
        padding: 3rem 3rem 2.5rem 4rem;
        margin: 0 -2.5rem
    }  
}
