
// #fff2ed

$primary-font: 'Nanami-book';
$secondary-font: 'master_of_break';

$large-size-font: 2.4rem;
$medium-size-font: 1.6rem;
$small-size-font: 1.2rem;

$main-color: #120203;
$main-color-soft: #9f9a97;
$white-color: #fff;
$black-color: #000;

$orange-soft-color: #ff7e66;;
$orange-strong-color: #f01b16; 
$btn-orange-color: #ff7e66; 

// button's color
$button-background-color: $orange-soft-color;
$button-text-color: $white-color;