
// 

$primary-font: 'Nanami-book';
$secondary-font: 'master_of_break';


$main-color-soft: #9f9a97;
$secondary-color: #fff2ed;
$white-color: #fff;
$black-color: #000;
$blue-color: #154254;
$orange-soft-color: #ff7e66;;
$orange-strong-color: #f01b16; 
$btn-orange-color: #ff7e66; 


$color-valid:  rgba(24, 134, 7, 0.979);
$color-invalid: $orange-soft-color;
