@keyframes spin {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(90deg);
        width: 5rem;
        height: 5rem;
        padding: .5rem;
        opacity: .75;
    }
    50% {
        transform: rotate(180deg);
        width: 6rem;
        height: 6rem;
        padding: 1rem;
        opacity: .5;
    }
    75% {
        transform: rotate(270deg);
        width: 5rem;
        height: 5rem;
        padding: 1.5rem;
        opacity: .25; 
    }
    100% {
        transform: rotate(360deg);
        width: 4rem;
        height: 4rem;
        opacity: 1;
    }
}