.owl-nav {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    * {
        width: 10%;
        height: 100%;
        font-size: 48px;
        opacity: 0.5;
    }
   
}