@import 'variables';
@import 'mixins';
@import 'carousel';



// VARIABLES:

// $main-font: 'Nanami-book';
// $funny-font: 'master_of_break';
// $large-size-font: 24px;
// $medium-size-font: 16px;
// $small-size-font: 12px;
// $main-color: #120203;
// $main-color-soft: #9f9a97;
// $white-color: #fff2ee;
// $orange-soft-color: #ed2024;
// $orange-strong-color: #f01b16; 
// $btn-orange-color: #ff7e66; 

.funnyFont {
    font-family: $funny-font
    
}
.funnyTitle {
    font-family: $funny-font;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 5px;
    -webkit-text-fill-color: $orange-strong-color;
}
body {
    @include boxmodel-off;
    @include typography-link($main-font, $main-color, $medium-size-font);
    @include typography-list;

    color: $main-color;
    background-color: $white-color;
    font-family: $main-font;
    font-size: $small-size-font;
    align-items: center;
    overflow-x: hidden;
    
    .wrapper {
        max-width: 1460px;
        min-width: 320px;
        margin: 0 auto;    
        
        
        border: 1px solid black;

        // navigation section.
        @include navigation-horizontal(right,#fff, $main-color);
        .navigation {
            align-items: center;
            height: 100px;
            &__logo {
                width: 70px;
                margin: 0 auto 0 50px;
            }
            &__list {
                margin-right: 50px;
            }
        }
        .navigation__link:hover {
            border-bottom: 15px solid yellow;
        }

        //home page section
        .home {
            width: 100%;
            max-height: 600px;
            background-image: url(../../assets/cake2.png);
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            &__element {
                width: 100%;
                height: 100%;
                padding: 5%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center
            }
            
            &__title {
                font-size: 5em;
                line-height: 4em;
                letter-spacing: 1px;

            }
            &__subtitle {
                font-size: 1.2em;
                font-weight: 600;
                letter-spacing: 1px;

                color: $white-color;
            }
            
            
        }

        //reservation page section
        .reservation {
            height: 600px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            .reservation__title {
                color: $orange-strong-color;
                font-size: 42px;
                
            }
            .reservation__subtext {
                width: 90%;
                color: $main-color-soft;
                margin-top: 60px;
            }
            .reservation__button {
                @include btn($white-color, $orange-soft-color);
                line-height: 60px;
                width: 240px;
                margin-top: 50px
            }
        }

        .ad {
            min-height: auto;
            display: flex;
            
            &__image {
                max-width: 50%;
                height: auto;
            }
            &__article {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                .article__title {
                    width: 60%;
                    color: $orange-soft-color;
                    font-size: 42px;
                    
                }
                .article__image {
                    max-width: 100%;
                    height: auto;

                }
                .article__subtext {
                    color: $main-color-soft;
                    width: 70%;
                }
            }

        }

        .menu {
            height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            .menu__title {
                color: $orange-strong-color;
                font-size: 42px;
            }
            .menu__subtext {
                width: 90%;
                color: $main-color-soft;
                margin-top: 60px;
            }
            
            .menu__button {
                @include btn($white-color, $orange-soft-color);
                line-height: 60px;
                width: 240px;
                margin-top: 50px
            }            
        }

        .products {
            max-height: 800px;
            .cake {
                height: auto;
                font-size: $large-size-font;
                color: $white-color;
                padding: 5% 0 10% 50%;

                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                &__title {
                    font-size: 1.8em;
                }
                &__subtext {
                    font-size: 0.8em;
                }
                &__button {
                    background-color: transparent;
                }
            }

            @for $i from 1 through 4 {
                .cake--#{$i} {
                    background-image: url(../../assets/cake#{$i}.png);
                    
                }
            }

            
            

        }

        .features {
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            .features__box {
                width: 426px;
                display: inherit;
                flex-direction: column;
                align-items: center;
                margin: 0 25px;
                padding: 30px;

                
            }
            
            .features__box:nth-of-type(2) {
                border-left: 2px solid #000;
                border-right: 2px solid #000;
            } 
        }

        .gallery {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, minmax(400px, auto));
            
            &__item {
                display: inherit;
                grid-template-columns: repeat(1, 1fr);
                justify-content: center; 
                overflow: hidden;
                .gallery__description {
                    grid-column: 1 / 2;
                    background-color: rgba(240, 27, 22, 0.6);
                    display: none;
                    justify-content: center;
                    align-items: center;
                    margin: 50px;
                    
                    .gallery__title {
                        color: $white-color;
                        font-size: 50px;
                        text-align: center;
                        position: relative;
                    }

                    .gallery__title:before {
                        content: '';
                        position: absolute;
                        z-index: 2;
                        bottom: -30px;
                        left: calc(50% - 10px);
                        width: 20px;
                        height: 10px;
                        background-color: #fff481;
                    }
                    
                }
            }

            &__item:hover .gallery__description {
                display: flex;
            }

            &__item--1 {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                background-image: url(../../assets/cover_4.png);
                background-repeat: no-repeat;
                background-position: center;
            }
            &__item--2 {
                grid-column: 2 / 3;
                grid-row: 1 / 2;

                .gallery__description {
                    grid-column: 1 / 2;
                    background-color: #fff2ed;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 50px;
                    color: #fff;

                    .gallery__title {
                        color: #ff7e66;
                        letter-spacing: 5px;
                        font-weight: 700;
                    }
                }
                
            }
            &__item--3 {
                grid-column: 3 / 5;
                grid-row: 1 / 2;
                background-image: url(../../assets/cover_5.png);
                background-repeat: no-repeat;
                background-position: center;
            }
            &__item--4 {
                grid-column: 1 / 3;
                grid-row: 2 / 3;
                background-image: url(../../assets/cover_6.png);
                background-repeat: no-repeat;
                background-position: center;
            }
            &__item--5 {
                grid-column: 3 / 4;
                grid-row: 2 / 3;
                background-image: url(../../assets/cover_7.png);
                background-repeat: no-repeat;
                background-position: center;
            }
            &__item--6 {
                grid-column: 4 / 5;
                grid-row: 2 / 3;
                background-image: url(../../assets/cover_8.png);
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        .blog {
            height: 900px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            text-align: center;
            &__title {
                color: $orange-strong-color;
                font-size: 42px;
            }

            &__subtext {
                width: 90%;
                color: $main-color-soft;
                margin-top: 60px;
            }

            &__elements {
                height: 300px;
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 50px ;
                .element__article {
                    width: 250px;
                    height: 350px;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    margin: 0 15px;
                    
                    .element__info {
                        height: 100px;    
                        width: 450px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        overflow: hidden;
                        background-color: white;
                        border-radius: 0 0 50% 50%;

                        // .element__title {
                            
                        // }
                        .element__logo {
                            color: $orange-strong-color;
                        }
                        .element__button {
                            @include btn($white-color, $orange-soft-color);
                            margin-top: 20px;
                        }

                    }

                }

                .element__article:hover {
                    margin-top: 15px;
                    transition: 500ms;

                    .element__info {
                    height: 150px;
                    width: 1000px;
                    border-radius: 0 0 50% 50%;
                    transform: scale(1.1);
                    transition: 500ms
                    }
                }

                .element__article:nth-of-type(1) {
                    background-image: url(../../assets/cover_9.png);
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .element__article:nth-of-type(2) {
                    background-image: url(../../assets/cover_10.png);
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .element__article:nth-of-type(3) {
                    background-image: url(../../assets/cover_11.png);
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .element__article:nth-of-type(4) {
                    background-image: url(../../assets/cover_12.png);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }

        .contacts {
            display: flex;
            justify-content: center;
            align-items: center;
            
            background-image: url(../../assets/cover_13.png);
            
            background-size: 100% 100%;
           
            text-align: center;
            
            color: $white-color;

            input[type='text'],
            input[type='email'] {
                display: block;
                border: 1px solid #fff;
                background: transparent;
                height: 30px;
                color: $white-color;
            }


            form {
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: repeat(8,1fr);
                grid-gap: 5px;
                
                

                overflow-x: hidden;

                .form__group {
                    position: relative;
                    z-index: 0;

                    .form__label {
                        position: absolute;
                        z-index: 10;
                        top: 15px;
                        left: 0;
                    }

                    .form__input {
                        position: absolute;
                        z-index: 9;
                        

                    }
                }
                .form__title {
                    
                    font-size: 32px;
                    letter-spacing: 2px;
                    grid-area: 1 / 1 / 2 / 5;
                    
                    
                }
                
                .form_button {
                    @include btn($white-color, $orange-soft-color);
                    width: 71.5%;
                    height: 40px;
                    
                }
                
                
            }
            
            
        }
        
        .clicks {
            height: 600px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .click {
                background-color: #fff;
                height: 300px;
                width: 200px;
                
                &__image {
                    height: 50%;
                    // background settings
                    background-repeat: no-repeat;
                    background-size: cover;
                    // icon position;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }

                
                &__information {
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    .click__title {
                        margin: 30px 0 10px;
                    }
                    .click__subtext {
                        color: $main-color-soft;
                        font-size: $small-size-font;
                        text-align: center;
                    }
                    
                }
            }
           
            .click:nth-of-type(1) {
                
                .click__image{
                    background-image: url(../../assets/cover_15.png);
                }
            }
            .click:nth-of-type(2) {
                margin: 0 30px;
                .click__image{
                    background-image: url(../../assets/cover_16.png);
                }
            }
            .click:nth-of-type(3) {
                
                .click__image{
                    background-image: url(../../assets/cover_17.png);
                }
                
            }
        }

        .map {
            height: 300px;

            display: flex;
            justify-content: center;
            align-items: center;

            background: url(../../assets/cover_14.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            box-shadow: inset 0 0 0 2000px rgba(128, 127, 127, 0.616);
            transition: all 500ms;
            font-weight: 700;
            color: $white-color;

            &__logo {
                display: inline-block;
                font-family: $funny-font;
                line-height: 45px;
                font-size: $medium-size-font;
                font-weight: 200;
                letter-spacing: 2px;
                background-color: $orange-strong-color;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                box-sizing: border-box;
                padding-left: 10px;
            }
        }

        .footer {
           display: flex;
           flex-direction: column;
           align-items: center;
                                 
           &__title {
               color: $orange-strong-color;
               font-size: $large-size-font;
               margin-top: 35px;
            }

           &__copyrights {
               font-size: $small-size-font;
               color: $main-color-soft;
               font-weight: 600;
               letter-spacing: 1px;
            }

           &__social-link {
               margin: 0 2px;
            }
        }
    }    
}