.reservation {
    max-height: 60rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white-color;
    padding: 10rem 0;
}

.ad {
    display: flex;
    background-color: $secondary-color;
    
    &__image {
        max-width: 50%;
        height: auto;
        @include respond(tab-port) {
            display: none;
        }
    }
    &__article {
        width: 50%;
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        @include respond(tab-port) {
            width: 100%;
        }

        .article__image {
            max-width: 100%;
            height: auto;
            margin: 4rem 0;

            @include respond(tab-port) {
                max-width: 70%;
            }
        }
        
    }

}

.menu {
    max-height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $white-color;
    padding: 5rem 0;
}

.products {
    .cake {
        background-image: url(../assets/cake1_medium.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10% 10% 10% 55%;

        @include respond(tab-port) {
            background-image: url(../assets/cake1_small.jpg);
            padding: 15% 5%;
        }
        @include respond(phone) {
            background-position: center right;
            align-items: center;
            
        }
        @include respond(big-desktop) {
            background-image: url(../assets/cake1_large.jpg);
        }
    }

}

.features {
    height: 25rem;
    display: flex;
    justify-content: center;
    align-content: stretch;
    background-color: $white-color;
    
    .features__image {
        max-width: 100%;
        height: auto;

        @include respond(phone) {
            max-width: 50%;
        }
    }

    .features__text {
        margin-top: 2rem;
        text-align: center;
        font-size: 1.8rem;
        
    }

    .features__box {
        max-width: 42.6rem;
        display: inherit;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem 8rem;
        position: relative;

        @include respond(phone) {
            margin: 0 .2rem;
            padding: 0;
        }

        &:nth-of-type(2)::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 50%;
            background-color: transparent;
            border-right: .2rem solid rgba($black-color, .6);
            border-left: .2rem solid rgba($black-color, .6);

            @include respond(tab-port) {
                border: none;
            }
        }
    }
    
    

}

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 0 2rem;
    padding: 5rem 0;
    &__elements {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5rem;
    }
}

.contacts {
    padding: 15rem 10rem;
    background-image: url(../assets/cover_13.png);
    background-size: cover;
    background-position: center;
    box-shadow: inset 200rem 200rem rgba($black-color, .4);
    @include respond(tab-port) {
        padding: 5rem 2rem;
    }
}

.clicks {
    min-height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff2ed;
}



.map {
    min-height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/cover_14_medium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    box-shadow: inset 0 0 0 200rem rgba($black-color, 0.45);

    @include respond(phone){
        background-image: url(../assets/cover_14_small.jpg);
    }

    @include respond(big-desktop) {
        background-image: url(../assets/cover_14_large.jpg);
    };
 }